<%- include('partials/head.ejs') %>



    <%- include('partials/navbar.ejs') %>

    <h1>The Home page <%= 5+6+6 %>
        <%=56 %>
        <%= 'hello'.toUpperCase() %> 
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iste porro recusandae illo quod in tempore,
      voluptatum rerum? Numquam nostrum consequatur beatae ut vel at consectetur suscipit impedit ducimus eveniet!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fuga earum fugit assumenda? Magnam rem saepe
      architecto cupiditate delectus quidem ullam fuga ducimus aperiam quia corrupti quae, quod doloremque quo.</p>
      
      <%- include('partials/footer.ejs') %>
    

